htmlmin==0.1.12
hydralit-components==1.0.6
importlib-resources==5.4.0
ipykernel==6.6.0
ipython==7.30.1
ipython-genutils==0.2.0
ipywidgets==7.6.5
matplotlib==3.5.1
matplotlib-inline==0.1.3
networkx==2.6.3
notebook==6.4.6
numpy==1.21.4
packaging==21.3
pandas==1.3.4
scipy==1.7.3
seaborn==0.11.2
streamlit==1.2.0
webencodings==0.5.1
widgetsnbextension==3.5.2
scikit-learn==1.0
scikit-optimize==0.9.0
